In [1]:
import pandas as pd
import numpy as np
import datetime
from isoweek import Week
PATH = 'dataset/rossmann/'

In [2]:
table_names = ['train', 'store', 'store_states', 'state_names', 'googletrend', 'weather']
train, store, store_states, state_names, googletrend, weather = [pd.read_csv(PATH + fname+'.csv', 
                                                                             low_memory=False) for fname in table_names]

# Paso StateHoliday a booleana
Puede ser discutible

In [3]:
train['StateHoliday'].value_counts()

0    986159
a     20260
b      6690
c      4100
Name: StateHoliday, dtype: int64

a = public holiday, b = Easter holiday, c = Christmas, 0 = None

In [4]:
train.StateHoliday = train.StateHoliday!='0'

# Función para hacer el join

In [5]:
def join_df(left, right, left_on, right_on=None):
    if right_on is None: right_on = left_on
    return left.merge(right, how='left', left_on=left_on, right_on=right_on, 
                      suffixes=("", "_y"))

## Join entre weather y states_names

In [6]:
weather.columns

Index(['file', 'Date', 'Max_TemperatureC', 'Mean_TemperatureC',
       'Min_TemperatureC', 'Dew_PointC', 'MeanDew_PointC', 'Min_DewpointC',
       'Max_Humidity', 'Mean_Humidity', 'Min_Humidity',
       'Max_Sea_Level_PressurehPa', 'Mean_Sea_Level_PressurehPa',
       'Min_Sea_Level_PressurehPa', 'Max_VisibilityKm', 'Mean_VisibilityKm',
       'Min_VisibilitykM', 'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h',
       'Max_Gust_SpeedKm_h', 'Precipitationmm', 'CloudCover', 'Events',
       'WindDirDegrees'],
      dtype='object')

In [7]:
weather['file'].value_counts()

Sachsen                  990
Brandenburg              990
Thueringen               990
Berlin                   990
Saarland                 990
Niedersachsen            990
Hamburg                  990
NordrheinWestfalen       990
SchleswigHolstein        990
Bayern                   990
Bremen                   990
Hessen                   990
RheinlandPfalz           990
BadenWuerttemberg        990
SachsenAnhalt            990
MecklenburgVorpommern    990
Name: file, dtype: int64

In [8]:
state_names

                StateName  State
0       BadenWuerttemberg     BW
1                  Bayern     BY
2                  Berlin     BE
3             Brandenburg     BB
4                  Bremen     HB
5                 Hamburg     HH
6                  Hessen     HE
7   MecklenburgVorpommern     MV
8           Niedersachsen  HB,NI
9      NordrheinWestfalen     NW
10         RheinlandPfalz     RP
11               Saarland     SL
12                Sachsen     SN
13          SachsenAnhalt     ST
14      SchleswigHolstein     SH
15             Thueringen     TH

In [9]:
weather = join_df(weather, state_names, "file", "StateName")

In [10]:
weather.columns

Index(['file', 'Date', 'Max_TemperatureC', 'Mean_TemperatureC',
       'Min_TemperatureC', 'Dew_PointC', 'MeanDew_PointC', 'Min_DewpointC',
       'Max_Humidity', 'Mean_Humidity', 'Min_Humidity',
       'Max_Sea_Level_PressurehPa', 'Mean_Sea_Level_PressurehPa',
       'Min_Sea_Level_PressurehPa', 'Max_VisibilityKm', 'Mean_VisibilityKm',
       'Min_VisibilitykM', 'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h',
       'Max_Gust_SpeedKm_h', 'Precipitationmm', 'CloudCover', 'Events',
       'WindDirDegrees', 'StateName', 'State'],
      dtype='object')

Notar como se agregaron las columnas

## Preprocess googletrend

In [11]:
googletrend.head()

             file                     week  trend
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67

In [12]:
# Armo columan date con el primer día de la semana
googletrend['Date'] = googletrend.week.str.split(' - ', expand=True)[0]

In [13]:
googletrend.head()

             file                     week  trend        Date
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96  2012-12-02
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95  2012-12-09
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91  2012-12-16
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48  2012-12-23
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67  2012-12-30

In [14]:
# Armo columna de State con el nomnre del estado
googletrend['State'] = googletrend.file.str.split('_', expand=True)[2]

In [15]:
googletrend.head()

             file                     week  trend        Date State
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96  2012-12-02    SN
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95  2012-12-09    SN
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91  2012-12-16    SN
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48  2012-12-23    SN
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67  2012-12-30    SN

In [16]:
googletrend['State'].value_counts()

HH    148
BW    148
BY    148
NW    148
HE    148
TH    148
SL    148
NI    148
RP    148
SN    148
ST    148
SH    148
BE    148
Name: State, dtype: int64

In [17]:
# Notar que un estado tiene un acrónimo diferente
state_names['State']

0        BW
1        BY
2        BE
3        BB
4        HB
5        HH
6        HE
7        MV
8     HB,NI
9        NW
10       RP
11       SL
12       SN
13       ST
14       SH
15       TH
Name: State, dtype: object

In [18]:
# Lo corrijo
googletrend.loc[googletrend.State=='NI', "State"] = 'HB,NI'

# Transformo fecha

In [19]:
def add_datepart(df):
    df.Date = pd.to_datetime(df.Date)
    df["Year"] = df.Date.dt.year
    df["Month"] = df.Date.dt.month
    df["Week"] = df.Date.dt.week
    df["Day"] = df.Date.dt.day
add_datepart(weather)
add_datepart(googletrend)
add_datepart(train)

In [20]:
# Trends generales de alemania tienen el state en None
trend_de = googletrend[googletrend.file == 'Rossmann_DE']

# Hago todo el resto de los joins

In [21]:
# Agrego acronimo de state al store
store = join_df(store, store_states, "Store")
len(store[store.State.isnull()])

0

In [22]:
store.columns

Index(['Store', 'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval', 'State'],
      dtype='object')

In [23]:
# Mergeo train y store
joined = join_df(train, store, "Store")
len(joined[joined.StoreType.isnull()])

0

In [24]:
joined.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'Year', 'Month', 'Week', 'Day',
       'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval', 'State'],
      dtype='object')

In [25]:
joined = join_df(joined, googletrend, ["State","Year", "Week"])
len(joined[joined.trend.isnull()])

0

In [26]:
joined = joined.merge(trend_de, 'left', ["Year", "Week"], suffixes=('', '_DE'))
len(joined[joined.trend_DE.isnull()])

0

In [27]:
joined = join_df(joined, weather, ["State","Date"])
len(joined[joined.Mean_TemperatureC.isnull()])

0

# Fill missing values

In [28]:
# Porcentajes de nan para tener una idea
joined.CompetitionOpenSinceYear.isna().sum()/len(joined.CompetitionOpenSinceYear)

0.31787764363075827

In [29]:
# Discutible que le ponga 1900?
joined.CompetitionOpenSinceYear = joined.CompetitionOpenSinceYear.fillna(1900).astype(np.int32)
joined.CompetitionOpenSinceMonth = joined.CompetitionOpenSinceMonth.fillna(1).astype(np.int32)
joined.Promo2SinceYear = joined.Promo2SinceYear.fillna(1900).astype(np.int32)
joined.Promo2SinceWeek = joined.Promo2SinceWeek.fillna(1).astype(np.int32)

##  Armamos CompetitionOpenSince mergenado CompetitionOpenSinceYear, CompetitionOpenSinceMonth

In [30]:
# Pone dia 15 ya que no cuenta con ese dato
joined["CompetitionOpenSince"] = pd.to_datetime(joined.apply(lambda x: datetime.datetime(
    x.CompetitionOpenSinceYear, x.CompetitionOpenSinceMonth, 15), axis=1))

In [31]:
joined.CompetitionOpenSince[:10]

0   2008-09-15
1   2007-11-15
2   2006-12-15
3   2009-09-15
4   2015-04-15
5   2013-12-15
6   2013-04-15
7   2014-10-15
8   2000-08-15
9   2009-09-15
Name: CompetitionOpenSince, dtype: datetime64[ns]

In [32]:
joined["CompetitionDaysOpen"] = joined.Date.subtract(joined["CompetitionOpenSince"]).dt.days

In [33]:
joined["CompetitionDaysOpen"][:10]

0    2510
1    2815
2    3150
3    2145
4     107
5     593
6     837
7     289
8    5463
9    2145
Name: CompetitionDaysOpen, dtype: int64

In [34]:
# Corrige errores de la formula anterior
joined.loc[joined.CompetitionDaysOpen<0, "CompetitionDaysOpen"] = 0
joined.loc[joined.CompetitionOpenSinceYear<1990, "CompetitionDaysOpen"] = 0

In [35]:
# Lo pone en meses y limita a 2 años como máximo
joined["CompetitionMonthsOpen"] = joined["CompetitionDaysOpen"]//30
joined.loc[joined.CompetitionMonthsOpen>24, "CompetitionMonthsOpen"] = 24

In [36]:
joined.CompetitionMonthsOpen.value_counts()

24    465838
0     417638
6       6356
7       6350
4       6278
5       6261
8       6203
9       6138
10      6118
11      5971
12      5867
3       5850
13      5724
15      5699
14      5655
19      5649
2       5621
18      5619
16      5618
22      5558
17      5549
20      5500
1       5482
21      5398
23      5269
Name: CompetitionMonthsOpen, dtype: int64

### Mismo proceso a promodates

In [37]:
joined["Promo2Since"] = pd.to_datetime(joined.apply(lambda x: Week(
    x.Promo2SinceYear, x.Promo2SinceWeek).monday(), axis=1))
joined["Promo2Days"] = joined.Date.subtract(joined["Promo2Since"]).dt.days

In [38]:
joined.loc[joined.Promo2Days<0, "Promo2Days"] = 0
joined.loc[joined.Promo2SinceYear<1990, "Promo2Days"] = 0

In [39]:
joined["Promo2Weeks"] = joined["Promo2Days"]//7
joined.loc[joined.Promo2Weeks<0, "Promo2Weeks"] = 0
joined.loc[joined.Promo2Weeks>25, "Promo2Weeks"] = 25

In [40]:
joined.Promo2Weeks.value_counts()

0     578880
25    403571
23      1659
21      1659
20      1659
19      1659
16      1659
15      1659
14      1659
24      1659
22      1659
18      1652
17      1633
13      1514
7       1267
6       1267
5       1263
8       1261
11      1260
10      1260
12      1260
9       1258
4       1236
3       1232
2       1232
1       1232
Name: Promo2Weeks, dtype: int64

In [42]:
joined.shape

(1017209, 70)

In [46]:
# Remove dup columns
joined = joined.loc[:,~joined.columns.duplicated()]

In [47]:
joined.shape

(1017209, 68)

In [48]:
%time joined.to_csv('joined_before_durations.csv')

CPU times: user 1min 8s, sys: 225 ms, total: 1min 8s
Wall time: 1min 8s

In [49]:
%time joined.to_feather('joined_before_durations.fth')

CPU times: user 1.25 s, sys: 3.42 s, total: 4.67 s
Wall time: 4.95 s